**/node_modules
packges/**/packages-lock.json
package.json.lerna_backup

# Serverless directories
.serverless
*.log

# Webpack directories
.webpack

# NYC
.nyc_output
coverage

# OSX
.DS_Store

# WebStorm
.idea